@model Boker.Models.MyLib

@{
    ViewData["Title"] = "Usuń";
}

<h1>Czy na pewno chcesz usunąć książkę z biblioteki?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tytuł:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Ulubione:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>
        <dt class="col-sm-2">
            Początek czytania:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedReading)
        </dd>
        <dt class="col-sm-2">
            Koniec czytania:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishedReading)
        </dd>
        <dt class="col-sm-2">
            Notatki:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Wróć</a>
    </form>
</div>
